<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>
     <link href="public/css/main.css" rel="stylesheet">
    <link href="public/css/editor.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="public/images/blank.png"/>  
   
    <style>
	hr.currPage{
		border: 1px solid !important;
		color:#E0E0E0 !important;
	}
   </style>
     
 
  </head>

<body id="home" class="app" data-spy="scroll" data-target=".navbar" data-offset="1000">
    <div class="main" ng-controller="editorCtrl" data-ng-init="init()">
	   	 <!-- Preloader -->
	    	<div class="preloader-wrapper">
	      		<div class="loader"></div>
		</div>
	    	<!-- End Preloader -->


	    	<!-- Navbar -->
	    	<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="150" ng-controller="initAashuAppPage">

		      	<div class="container">
				<div class="navbar-header">
			 		 <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			    			<i class="fa fa-bars"></i>
			 		 </button>

			 		 <a class="navbar-brand page-scroll" href="#" ng-href="#home">
			   		 	<!--img src="images/blank.png" ng-src="{{ navbar.items.logoTransperant }}" alt="Logo"   data-logo-white="{{ navbar.items.logoTransperant }}" / --> <!-- 						added by Sushank -->
			    			Content Clarifier
			  		 </a>
				</div> <!-- close navbar-header-->

				<div class="navbar-right navbar-extra" ng-if="navbar.items.isSearchActive">
			  		<a href="#block-search" class="btn btn-transparent navbar-btn" data-toggle="collapse" data-target="#block-search">
				   		 <i class="fa fa-search">
				      			<span class="sr-only">Search</span>
				    		</i>
			  		</a>
				</div><!-- close navbar-right div-->

				<div id="navbar" class="navbar-collapse collapse">
			  		<ul class="nav navbar-nav navbar-right">
				    				<!--li><a tabindex="1" ng-click="reload()" target="{{ item.target }}" >Home</a></li-->
				    	   	<li ng-repeat="item in navbareditor.items.mainMenu"><a tabindex="1" class="{{ item.class }}" href="#" ng-href="{{ item.url }}" 						target="{{ item.target }}">{{ item.title }}</a></li>
				         </ul>
		       		</div><!--/.nav-collapse -->
		     	 </div>
		</nav>
	    	<!-- End Navbar -->

		</br></br>

   
		<!------------------------------------ App Title Div ------------------------------------------------->
		<!-- div class="container" -->
		<!-- img src="public/img/power.png" ng-click="logout();" class="logout-img" title="Log out"--> 
		<!-- div class="container" -->        
		<!-- div class="header-row">
			<div class="header-container">
				<img class="header-left" src="public/img/logo.png" />
				<h1 class="post-h1">Content Clarifier</h1>
				<div style="clear: both"></div>      
				</div>
			</div --> 
	   	
		<!-- div class="post-input-textarea2"   ng-model=myText    ckeditor="editorOptions" contenteditable= true></div -->
		
			
                <div style="width:90%; margin-left:5%; background-color:#fff; float:left; " >
			<!------------------------------------ Left Div with CKEditor------------------------------------------------->
			<br /> 
 			<div  class="Editor_Contents_Input" >
                           <!--form name="myForm">
    				<label for="Format" >Select Input Type:
					<select name="Text" style="display: inline-block;" ng-model="data.singleSelect" tabindex="2">
	      					<option value="option-1">Text</option>
	      					<option value="option-2">URL</option>
						<option value="option-3">Document</option>
    					</select>
                               </label>
			 </form-->
                         <div style="display:inline-block; ";> 
				<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" style="width:7%;height:7%; margin:10px" src="public/images/inputs/open_file_on.png"> </img>
				<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" style="width:7%;height:7%; margin:10px" src="public/images/inputs/url_entry_on.png"> </img>
				<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" style="width:7%;height:7%; margin:10px" src="public/images/inputs/write_on.png"> </img>
			 </div>
 			   
			
		                <br/>
		            
				<div id="toolbarLocation"></div>
				</br>
				<div id="post-input-textarea2" class="post-input-textarea2" ng-bind-html="outputcontext"  ng-model=myText tabindex="3"  ckeditor="editorOptions" contenteditable= true >
				</div>
				<!------------------------------------ Show Animation for proress ------------------------------------------------->
			<div id="showAnimation"   ng-show="showLoadingAnimation();"  style="position: absolute; z-index: 100;">
				<img   style="display: inline; margin-left: auto;  margin-right: auto; opacity: 0.9; padding:200px" ; src="public/img/loading.gif";" /> 
			</div>

			<!--div style ="text-align: center; " >
				<button style="width:25%; color:#3b54ec; background:#fff; border: solid #3b54ec 2px;  " type="submit" ng-click="condense();"><b>Analyze</b></button> <!-- Analyse BUTTON -->
			<!--/div-->
				
			</div>
			<!------------------------------------ Right Div with Editor Options ------------------------------------------------->
			<div class="post-output-textarea2">
			
								      <!--div class="wordcount" style ="color: #3b54ec; float:left;" >
			
									<p>Word count</p>
									<span ng-bind="countOf(myText)"></span>   
								      </div>
								      <div class="paracount" style ="color: #3b54ec; float:right; padding-right:10px;">
									<p  class="post-h4">Para count</p>
									<span  ng-bind="paraOf(myText)"></span> 
								      </div--> 
				
									<!--h3 class="highlightedText" ng-click="applyHtml('iphone')"><b>Highlight Iphone</b></h3-->
									<!--h3 class="highlightedText" ng-click="applyHtml( 'the')"><b>Highlight THE</b></h3 -->
									<!-- piece of code for Auto Highlight --->
									<!-- span ng-bind="highlight(myText, 'iphone')"></span -->  

								      
								      <!--md-button class="md-primary">
									    Tools
									  </md-button -->
				</br>			     
				<p  style ="color: #3b54ec; margin-left:25%; " >Output Mode</p>
                              	<hr class="currPage" style="color:F8F8F8; width:75%; ">
                              	</br>
                             	<div  style="float:left;width:45%;  ">
			      		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/simplify.png" id="btn"> 
						<p style="color: #3b54ec; text-align:justify; ">Simplified</p> 
  			      		</img>
                             
			     		<img  title="" ng-click="condensesimplify();" ng-hide="isOpenRight()" src="public/images/actions/summarizeAndSimplify.png" id="btn">
				  		<p style=" color: #3b54ec; text-align:Justify">Summarized-Simplified</p>
			     		</img>
 				
 			     		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/show_definitions.png" id="btn">
				  		<p style="color: #3b54ec; text-align:justify">Show Definitions</p>
			    		 </img>
				 
			     		 <img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/show_emotions.png" id="btn">
						<p style="color: #3b54ec; text-align:justify">Show Emotions</p>
				 	</img>
				 
			      		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/complex_phrases.png" id="btn">
					 	<p style="color: #3b54ec; text-align:justify">Complex Phrases</p>
					</img>
				
					<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/syllables.png" id="btn"></img>
				 		<p style="color: #3b54ec; text-align:justify">Show Syllables</p>
			     	 </div>

			   	  <div style="float:right; width:45%; ">
			        	 <img  title="" ng-click="condenceText();" ng-hide="isOpenRight()" src="public/images/actions/summarize.png" id="btn">
					 	<p style="color: #3b54ec; text-align:justify">Summarized</p>
				 	</img>
                              
			     		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/show_topics.png" id="btn">
					 	<p style="color: #3b54ec; text-align:justify">Show Topics</p>
			     		</img>
 				
 			     		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/show_symbols.png" id="btn">
					 	<p style="color: #3b54ec; text-align:justify">AAC Symbols</p>
					</img>
				
			      		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/pos.png" id="btn">
						<p style="color: #3b54ec; text-align:justify">Parts of Speech</p>
				 	</img>
				 
			      		<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/complex_words.png" id="btn">
					 	<p style="color: #3b54ec; text-align:justify">Complex Words</p>
					</img>
				
					<img  title="" ng-click="toggleRight()" ng-hide="isOpenRight()" src="public/images/actions/add_spaces.png" id="btn">
						<p style="color: #3b54ec; text-align:justify">Add Spacing</p>
					</img>
				 
			 
			   	   </div>
			   

			</div>

		      
                      </div>
			
	      
			<!-- div ng-mouseover="showPopover()" ng-mouseleave="hidePopover()">
				more info
			</div -->

			<!--/br></br></br>
	       		<div class="popover" ng-show="popoverIsVisible">Popover Content</div>
			</br></br></br>
			<span  tooltips tooltip-template="{{htmltooltip}}" tooltip-close-button="true" tooltip-hide-trigger="focus">{{text2}}</span>

			<div dynamic="html"></div -->

			<!------------------------------------ Sample Modal Popup ------------------------------------------------->
			<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
				<button data-remodal-action="close" class="remodal-close"></button>      
				<h3>Change of Text </h3>
				<button  type="submit"><img style="height:25px; width:25px; margin-left:12px"" src="public/img/molecule.png" /></button>
				<button ng-click="changetext()" type="submit"><img style="height:25px; width:25px; margin-left:12px"" src="public/img/lightbulb.png" /> </button>
				<button ng-click="changetext()" type="submit"><img style="height:25px; width:25px; margin-left:12px"" src="public/img/flask.png" /></button>
				<button ng-click="changetext()" data-remodal-action="confirm" class="remodal-confirm" >OK</button> 

			</div>
		 
		
	     
	       </div>
	
	
</body>
